.about {
  &__wave--top {
    z-index: -1;

    svg {
      width: 1600px;
    }
  }

  .container {
    max-width: 1200px;
    padding: 20px 16px 160px;

    .row:last-child {
      padding: 48px 0 0;
    }
  }

  &__list-item {
    margin-bottom: 32px;

    display: flex;

    .green-number {
      width: 43px;
      height: 43px;
      margin-right: 16px;

      flex-shrink: 0;

      border: 4px solid #fff;
      border-radius: 50%;
      background-color: $c-green;
      box-shadow: 0 0 0 2px $c-green;

      color: #fff;
      font-weight: bold;
      text-align: center;
      line-height: 35px;

      & + p {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
      }
    }
  }

  &__img01 {
    width: 100%;
    max-width: 500px;
    margin: 16px auto;
  }
  &__img02 {
    width: 100%;
    max-width: 380px;
    margin: 16px auto;
  }

  &__wave--bottom {
    bottom: -1px;
    z-index: -1;

    svg {
      width: 1600px;
    }
  }
}

@media (min-width: 768px) {
  .about {
    .container {
      padding: 70px 16px 160px;
    }

    &__list-item {
      margin-top: 0;
      margin-bottom: 16px;
    }

    &__img01 {
      width: auto;
      margin: 0 0 0 16px;
    }
    &__img02 {
      width: auto;
      margin: 0 0 0 -64px;
    }
  }
}

@media (min-width: 992px) {
  .about {
    .container {
      padding: 100px 16px 160px;

      .row:last-child {
        padding: 48px 0 0;
      }
    }

    &__img01 {
      max-width: none;
      margin: 0;
    }
    &__img02 {
      max-width: none;
      margin: 100px 0 100px -10px;
    }
  }
}

@media (min-width: 1200px) {
  .about {
    .container {
      padding: 80px 16px 250px;

      .row:last-child {
        padding: 90px 0 0;
      }
    }

    &__list-item {
      .green-number {
        & + p {
          letter-spacing: 1px;
          line-height: 43px;
        }
      }
    }

    &__img01 {
      margin: 0 0 0 80px;
    }
    &__img02 {
      margin: 0 0 0 -160px;
    }
  }
}

@media (min-width: 1600px) {
  .about {
    &__wave--top,
    &__wave--bottom {
      svg {
        width: 100%;
      }
    }
  }
}
