.pricing {
  .container {
    max-width: 1200px;
    padding: 100px 16px 0;

    .row:first-child {
      margin: 0 0 16px 0;
    }
  }

  &__box {
    width: 100%;
    padding: 32px 0 0;
    border: none;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 #666;
    text-align: center;
    line-height: 200%;
    border-radius: 4px;
    transition: 0.2s;
    margin-bottom: 32px;

    &__plan-name {
      background-color: #f6f6f6;
      box-shadow: -4px 0 0 $c-green, 4px 0 0 0 $c-green;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 40px;
      transition: 0.2s;
    }

    &__order {
      margin-bottom: 8px;
      color: #000;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      font-weight: bold;
      transition: 0.2s;
    }

    &__wave {
      height: 80px;
      background-image: url(../img/pricing-box-wave.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 1% 0;
    }

    &--2 {
      .pricing__box__wave {
        background-position: 34% 0;
      }
    }
    &--3 {
      .pricing__box__wave {
        background-position: 67% 0;
      }
    }

    h3 {
      font-size: 2.5rem;
      margin-bottom: 0;
    }

    p {
      padding: 0 2rem;
      font-size: 0.875rem;
    }

    &:focus,
    &:focus-visible {
      box-shadow: 0 10px 40px 0 #000;
      outline: none;
    }
  }

  &__wave {
    bottom: -1px;
    z-index: -1;

    svg {
      width: 1600px;
    }
  }
}

@media (min-width: 768px) {
  .pricing {
    .container {
      padding: 160px 16px 0;

      .row:first-child {
        margin: 0 0 36px 0;
      }
    }

    &__box {
      &--2 {
        .pricing__box__wave {
          background-position: 21% 0;
        }
      }
      &--3 {
        .pricing__box__wave {
          background-position: 40% 0;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .pricing {
    &__box {
      margin-bottom: 40px;

      &--2 {
        .pricing__box__wave {
          background-position: 30% 0;
        }
      }
      &--3 {
        .pricing__box__wave {
          background-position: 59% 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .pricing {
    &__box {
      &--2 {
        .pricing__box__wave {
          background-position: 34% 0;
        }
      }
      &--3 {
        .pricing__box__wave {
          background-position: 67% 0;
        }
      }

      &:hover,
      &:focus {
        box-shadow: 0 10px 40px 0 #000;
        .pricing__box {
          &__plan-name {
            background-color: $c-green;
            box-shadow: 0 0 0 $c-green, 0 0 0 0 $c-green;
            color: #fff;
          }

          &__order {
            color: $c-green;

            span {
              border-bottom: 1px solid $c-green;
            }
          }
        }
      }

      &:active {
        box-shadow: 0 5px 20px 0 #666;
      }
    }
  }
}

@media (min-width: 1600px) {
  .pricing {
    &__wave {
      svg {
        width: 100%;
      }
    }
  }
}
