.register {
  background-color: $c-green;

  &--1 {
    padding: 8px 0 0;
  }

  &--2 {
    padding: 16px 0 0;
  }

  .container {
    max-width: 1200px;
    padding: 0 16px 32px;
  }

  &__arrow {
    svg {
      width: 170px;
    }
  }

  &__btn {
    @include register-button($c-green, #fff);
  }

  h3 {
    font-size: 1.875rem;
    font-family: "PT Serif", serif;
    color: #fff;
  }

  p {
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .register {
    &--2 {
      padding: 50px 0 0;
    }

    .container {
      padding: 0 16px 16px;
    }
  }
}
