.welcome {
  height: 100vh;
  max-height: 840px;

  display: flex;
  align-items: center;

  background-image: url(/img/bg-welcome.jpg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;

  .container {
    max-width: 1200px;
    padding: 0 16px;

    .row {
      padding-top: 160px;
      padding-bottom: 100px;
    }
  }

  p {
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .welcome {
    .container {
      .row {
        padding-top: 320px;
        padding-bottom: 280px;
      }
    }
  }
}
